    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="width:100%;background-color:#000;margin:0;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Club</h2>
                <p>The Albatross Club is an exclusive racing club that specialises in <em>syndicated racehorse ownership</em> by bringing together
                groups of like minded, <em>fun loving race goers</em> that own a number of well bred national hunt and flat thoroughbred racehorses.
                The Albatross Club's members <em>enjoy great days at the races</em> together and get invited to <em>unique, private experiences</em> with champions
                of the sport and other celebrity members and ambassadors.</p>
                <p>The Albatross Club founders have bought and owned Group and Listed Handicap
                winners on both the flat and jumps with some of the top trainers in the country. Frankie Dettori and Jim Crowley are our ambassadorial jockeys
                and regularly ride for the Club as well as attending events with our other sporting members. If you do know a member of our club then we do hope
                you will join our club to experience the passion, excitement and fun of racehorse ownership.</p>
            </div>
        </div>
    </section>