    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Membership</h2>
                    <p>The Albatross Club is invite only, but open to new members keen to experience the passion, excitement and fun of racehorse ownership.</p>
                    <a href="mailto:secretary@albatrossclub.com?subject='Website endquiry'" class="btn btn-default btn-lg">Make an enquiry</a>
                </div>
            </div>
        </div>
    </section>