
    <section id="events" class="content-section text-center" style="padding-top:0;">
        <div class="benefits-container">
            <div class="membership-benefits">
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Club Members' Events</h2>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    The Christmas "Gaucho" Racing Lunch
                                </h4>
                                <p class="card-subtitle">with ambassadors and special racing guests in December 2015.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Friday of Cheltenham Festival
                                </h4>
                                <p class="card-subtitle">Breakfast hosted by Mick Fitzgerald and Chubby Chandler, Ticket, Trainer's enclosure badge, dinner included at Hotel du Vin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Saturday of Royal Ascot
                                </h4>
                                <p class="card-subtitle">Private members hospitality with guest appearances from Albatross Ambassadors Frankie Dettori and Jim Crowley.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Golf Day with Lee Westwood Golf Day at Bearwood Lakes
                                </h4>
                                <p class="card-subtitle">All members can bring a guest to the golf day. (Event TBC.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Visit the horses
                                </h4>
                                <p class="card-subtitle">Opportunity to visit the horses throughout the year including dinner at the Jockey Club Long Rooms with Hugo Palmer and Summer BBQ / lunch at Nicky Henderson 7 Barrows.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>