
    <section id="horses" class="content-section text-center" style="padding-top:0;">
        <div class="horses-section ailsa" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ailsa on my mind</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="horses-section wayward" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Wayward Hoof</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="horses-section third" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Third Horse -- TBC</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="benefits-container">
            <div class="membership-benefits">
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Hall of fame</h2>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;">
                            <img width="100%" src="/img/Credit Swap moving to the front at the Cambridgeshire 2010.jpg" alt="Credit Swap" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Credit Swap
                                </h4>
                                <h6 class="card-subtitle text-muted">2010 Cambridgeshire Winner</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><img width="100%" src="/img/hoofit2.jpg" alt="Hoof It" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Hoof It
                                </h4>
                                <h6 class="card-subtitle text-muted">2011 Stewards Cup Winner</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><img width="100%" src="/img/YGTHorse.jpg" alt="Tee it Up Tommo" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Tee it Up Tommo
                                </h4>
                                <h6 class="card-subtitle text-muted">6 times AW winner in 2014 season</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><img width="100%" src="/img/1301-2287 (1).JPG" alt="War Singer" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    War Singer
                                </h4>
                                <h6 class="card-subtitle text-muted">10 time winning versatile flat and hurdler</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><img width="100%" src="/img/radiohead.jpg" alt="Radio Head" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Radio Head
                                </h4>
                                <h6 class="card-subtitle text-muted">Norfolk Stakes, Royal Ascot 2009</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><img width="100%" src="/img/Crowded1.jpg" alt="{{page.name}}" style="box-shadow:-1px 0px 50px #000 inset;">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Crowded House
                                </h4>
                                <h6 class="card-subtitle text-muted">Racingpost Trophy Winner in 2008</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><!--img width="100%" src="1301-2287 (1).JPG" alt="War Singer" style="box-shadow:-1px 0px 50px #000 inset;"-->
                            <div class="card-block">
                                <h4 class="card-title">
                                    Fairway to Heaven
                                </h4>
                                <h6 class="card-subtitle text-muted">Supersprint winner in 2014</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="text-align:center;"><!--img width="100%" src="radiohead.jpg" alt="Radio Head" style="box-shadow:-1px 0px 50px #000 inset;"-->
                            <div class="card-block">
                                <h4 class="card-title">
                                    Producer
                                </h4>
                                <h6 class="card-subtitle text-muted">multiple pattern Group winner acquired in 2010</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>