
    <section id="horses" class="content-section text-center" style="padding-top:0;">
        <div class="horses-section ailsa" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ailsa on my mind</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="horses-section wayward" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Wayward Hoof</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="horses-section third" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Third Horse -- TBC</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="benefits-container">
            <div class="membership-benefits">
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Hall of fame</h2>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Glasgow Gailes­ 
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Credit Swap
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Hoof It
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Tee it Up Tommo
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> War Singer
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Radio Head
                    </div>
                </div>
            </div>
        </div>
    </section>