
    <section id="membership" class="content-section text-center" style="padding-top:0;">
        <div class="membership-section" style="height:540px;">
            <div class="container" style="padding:15px;background-color:rgba(0,0,0,0.6);">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Membership</h2>
                    <p>The Albatross Club is invite only, but open to new members keen to experience the passion, excitement and fun of racehorse ownership.</p>
                </div>
            </div>
        </div>
        <div class="benefits-container">
            <div class="membership-benefits">
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Membership benefits</h2>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Two free passes to all meetings where we have runners
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Free Ten UK Lifestyle Concierge Membership
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Two hosted stable visits a year with pre-arranged dinner afterwards
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Exclusive member's tie
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Ability to hire Albatross Ascot box at member rates for non Royal meetings.
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> £200 Free bet from Sportingbet
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Free Racing Post online subscription
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Exclusive interviews with our trainers and jockeys plus betting previews for all the major race meetings throughout the year
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> 25% Gaucho restaurant discount
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Free 4 ball green fee at Bearwood Lakes Golf Club
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Access to members only invitational networking events: The Masters, The Open, Turnberry Annual Trip, Shooting Day etc...
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <i class="fa fa-angle-right"></i> Membership fee: £350 per month or £3850 for the year (1 month free).
                    </div>
                </div>
            </div>
            <a href="mailto:secretary@albatrossclub.com?subject='Website enquiry'" class="btn btn-default btn-lg" style="margin-top:40px;">Make an enquiry</a>
        </div>
    </section>