<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    <div class="para-1 para"></div>
    {% include about.html %}
    {% include faqs.html %}
    <div class="para-2 para">
        <p class="pull-quote"><em>‘The Albatross Club is the most fun<br>you will have in racing.’</em><br><span style="color:#191919;font-size:small;">Frankie Dettori</span></p>
        
    </div>
    {% include membership.html %}
    <div class="para-3 para"></div>
    {% include team.html %}
    <hr>
    {% include horses.html %}
    <hr>
    {% include trainers.html %}
    <hr>
    {% include ambassadors.html %}
    <hr>
    {% include events.html %}
    <hr>
    <hr>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>